body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #444;
}

ul {
  list-style: square inside;
}

#projects {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap: 1em;
}

.projects__project{
  padding: 4em;
  
  border-radius: 25px;
  border: 2px solid black;
  width: 35%;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
